<form [formGroup]="loginForm" (ngSubmit)="handleLogin()" class=" login-form">
    <h1 class="text-center">Inicia sesión</h1>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Correo</mat-label>
        <input formControlName="username" type="email" matInput required>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" type="password" matInput required>
    </mat-form-field>
    <button type="submit" class="btn btn-block" mat-raised-button
        color="primary">{{isLoading ? 'loading' : 'Iniciar sesión'}}</button>
</form>